<!DOCTYPE html>
<html lang="en" ng-app="work_app">

<head>
    <meta charset="UTF-8">
    <title>Test angular work site</title>
</head>

<body ng-controller="appController">
    <p>Hello Angular</p>
{#    <p>{{$root.test_1}}</p>#}
    --{{test_1}}

{#    <ng-submit: <form role="form" ng-submit="getResults()">#}
<!-- In production use:-->
{#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>#}
<script src="/home/sever/ownCloud/Education/Angular_SS/angular_scraping_proj/static/js/vendor/angular.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/app.controller.js"></script>

</body>
</html>